i{
    float: left;
    margin-right: 50px;
    margin-top:10px;
    color:rgb(73, 147, 243);
}
#opis{
    float:left;
}
@media (max-width: 477.98px) { 
    .mb-md-0{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}