<footer class="bg-light text-align-center text-black" style="margin-top: 20px; border-top:1px solid gray">
    <div class="container p-4">
      <section class>
        <form action>
          <div class="row d-flex justify-content-center">
            <button routerLink="/contact" type="button" class="btn btn-primary mb-4">
              Kontaktirajte nas putem e-maila
            </button>
            <!--<div class="col-auto">
              <p class="pt-2">
                Kontaktirajte nas putem e-maila
              </p>
            </div>-->
            <!--<div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control" />
                <label class="form-label">e-mail adresa</label>
              </div>
            </div>
            <div class="col-auto">

            </div>-->
          </div>
        </form>
      </section>
      <hr>
      <section >
        <div class="row d-flex justify-content-center text-align-center">
          <div class="col-lg-3 col-md-6 mb-4 mb-0">
                <span id="ikona"><i class="fa fa-map-marker fa-2x"></i></span>
                <span id="opis">
                    <div>Ferida Dizdarevića 13</div>
                    <div>73000 Goražde</div>
                    <div>Bosna i Hercegovina</div>
                </span>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <span id="ikona"><i class="fa fa-envelope fa-2x"></i></span>
            <span id="opis">
                <div>drinex@drinex.ba</div>
                <div>fiskalizacija@drinex.ba</div>
                <div>servis@drinex.ba</div>
            </span>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <span id="ikona"><i class="fa fa-phone fa-2x"></i></span>
            <span id="opis">
                <div>+387(0) 38 240 530</div>
                <div>+387(0) 38 223 389 </div>

            </span>

          </div>
        </div>
      </section>
    </div>
  </footer>
