<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
     <!-- Section: Links  -->
     <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    </div>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>DRINEX d.o.o.
            </h6>
            <p>
             Mjesto za sigurnu i pouzdanu kupovinu.
             <br>
             Prodaja novih i polovnih uređaja.
             <br>
             Fiskalizacija kasa, servisiranje i održavanje uređaja.
            </p>
          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              KONTAKT
            </h6>
            <p><i class="fa fa-home me-3"></i> Ferida Dizdarevića 13
                <br>
                73000 Goražde
                <br>
                Bosna i Hercegovina</p>
            <p>
              <p><i class="fa fa-phone me-3"></i> +387(0) 38 240 530</p>
              <p><i class="fa fa-phone me-3"></i> +387(0) 38 223 389</p>

          </div>
          <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    E-MAIL
                  </h6>
                  <p>
                    drinex@drinex.ba
                  </p>
                  <p>
                    <i class="fa fa-envelope me-3"></i>
                    fiskalizacija@drinex.ba
                  </p>
                  <p>
                    servis@drinex.ba
                  </p>


                </div>
                <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
