<div class="row">
    <div class="col-lg-2 col-md-2">
        <button type="button" class="btn btn-primary proizvodi " (click)="isOpen = !isOpen"><i class="fa fa-bars"></i> 
            PROIZVODI
          </button>
          <ul class="list-group" *ngIf="isOpen">
            <a href="shop/18"><li class="list-group-item">Kategorija 1</li></a>
            <a href="shop/11"><li class="list-group-item">Kategorija 2</li></a>
            <a href="shop/8"><li class="list-group-item">Kategorija 3</li></a>
            <a href="shop/4"><li class="list-group-item">Kategorija 4</li></a>
            <a href="shop/14"><li class="list-group-item">Kategorija 5</li></a>
            <a href="shop/5"><li class="list-group-item">Kategorija 6</li></a>
        </ul>
    </div>
    <div class="col-lg col-md">
        <div  class="input-group">
        <div class="form-outline">
            <input type="search" class="form-control" placeholder="Unesite pojam" style="text-align: center;"/>
        </div>
        <button type="button" class="btn btn-primary search"> 
            <i class="fa fa-search"></i>
          </button>
          </div>
    </div>
</div>


 