<div class="row">
    <div class="col-lg-2 col-md-2">
        <button type="button" class="btn btn-primary proizvodi " (click)="isOpen = !isOpen"><i class="fa fa-bars"></i>
            PROIZVODI
          </button>
          <ul class="list-group" *ngIf="isOpen">
            <a *ngFor="let type of types" href="#" routerLink="/shop"><li class="list-group-item">{{type.name}}</li></a>
        </ul>
    </div>
    <div class="col-lg col-md">
        <div  class="input-group">
        <div class="form-outline">
            <input type="search" class="form-control" placeholder="Unesite pojam" style="text-align: center;"/>
        </div>
        <button type="button" class="btn btn-primary search">
            <i class="fa fa-search"></i>
          </button>
          </div>
    </div>

</div>


