.btn.btn-primary.proizvodi{
    width: 100%;
    margin-top:11%;
    margin-left:10%;
}   

.btn.btn-primary.search{
    width: 10%;
    margin-top: 2%;
}

ul li{
    width: 100%;
    background-color:#008cba;
    list-style: none;
    text-align: left;
    margin-left: 10%;
}

a{
    color:white;
    text-decoration: none;

}
a:hover,a:link{
    color:rgb(199, 212, 231);
}

.form-outline{
    width: 70%;
    margin-top:2%;
    margin-left: 10%;
}


