<section class="proizvodi">
        <app-search></app-search>
</section>

<section class="shopnow">
    <div class="d-flex justify-content-center pt-2">
        <app-callaction></app-callaction>
    </div>
</section>

<section class="izdvojeno">
    <div class="d-flex justify-content-center pt-4">
        <app-izdvojeno></app-izdvojeno>
    </div>
</section>

 <section class="novo">
        <app-novo></app-novo>
</section>


<app-carousel></app-carousel>



<!-- <app-brendovi></app-brendovi> -->
<section class="novo">
    <app-snizeno></app-snizeno>
</section>

<section class="dno">
    <app-dno></app-dno>
</section>

<section>
    <app-footer></app-footer>
</section>
