<section class="proizvodi">
        <app-search></app-search>
</section>

<section class="shopnow">
    <div class="d-flex justify-content-center pt-4">
        <app-callaction></app-callaction>
    </div>
</section>

<section class="izdvojeno">
    <div class="d-flex justify-content-center pt-4">
        <app-izdvojeno></app-izdvojeno>
    </div>
</section>

<section class="novo">
        <app-novo></app-novo>
</section>

<section class="baner">
 <carousel>
    <slide>
        <img src="assets/images/herozapc.png" alt="first slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/motospeedvelika.png" alt="second slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/iphoneslajdvel.png" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
</carousel> 
</section>