
<h1>IZDVOJENO</h1>
<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-3 col-sm-3 col-7">
        <div class="row">
            <button type="button" class="btn btn-primary izdvojeno">
                TRENUTNO IZDVOJENO
            </button>
        </div>
        <div class="row">
            <img src="../../../assets/images/cura.jpeg" id="cura"/>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-3 col-7">
       <div class="row">
        <img src="../../../assets/images/servis.jpg" id="servis"/>
        <a routerLink="/servis" class="servis">SERVIS</a>
       </div>

       <div class="row">
        <img src="../../../assets/images/sale.jfif" id="sale" />
        <a href="#" class="akcija">AKCIJA</a>
       </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-3 col-7">
        <div class="row">
            <img src="../../../assets/images/aparat.jpg" id="aparat"/>
            <button type="button" class="btn btn-primary pregled" [routerLink]="['/shop']">
                POGLEDAJ SVE
            </button>
        </div>
      </div>
    </div>
