img{
    display: inline-block;
    height: 20%;
    width: 15%;
    padding: 2px;
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
    opacity: .70;
}

