<div class="full-width-div">
    <h6>PRETRAŽUJ PO BRENDOVIMA</h6>
<carousel>
    <div class="row">
    <div class="col-12">
        <slide>
            <img src="../../../assets/images/brendovi/acer (1).jpg" >
            <img src="../../../assets/images/brendovi/hp.jpg"  >
            <img src="../../../assets/images/brendovi/lg.jpg" >
            <img src="../../../assets/images/brendovi/dell.jpg">
            <img src="../../../assets/images/brendovi/lenovo.jpg"  >
            <img src="../../../assets/images/brendovi/canon.jpg" >
       </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/hp.jpg"  >
        <img src="../../../assets/images/brendovi/lg.jpg" >
        <img src="../../../assets/images/brendovi/dell.jpg">
        <img src="../../../assets/images/brendovi/lenovo.jpg"  >
        <img src="../../../assets/images/brendovi/canon.jpg" >
         <img src="../../../assets/images/brendovi/apple.jpg" >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/lg.jpg" >
        <img src="../../../assets/images/brendovi/dell.jpg">
        <img src="../../../assets/images/brendovi/lenovo.jpg"  >
        <img src="../../../assets/images/brendovi/canon.jpg" >
         <img src="../../../assets/images/brendovi/apple.jpg" >
         <img src="../../../assets/images/brendovi/genius.jpg" >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/dell.jpg">
        <img src="../../../assets/images/brendovi/lenovo.jpg"  >
        <img src="../../../assets/images/brendovi/canon.jpg" >
         <img src="../../../assets/images/brendovi/apple.jpg" >
         <img src="../../../assets/images/brendovi/genius.jpg" >
         <img src="../../../assets/images/brendovi/ostali.jpg" >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/lenovo.jpg"  >
        <img src="../../../assets/images/brendovi/canon.jpg" >
         <img src="../../../assets/images/brendovi/apple.jpg" >
         <img src="../../../assets/images/brendovi/genius.jpg" >
         <img src="../../../assets/images/brendovi/ostali.jpg" >
         <img src="../../../assets/images/brendovi/acer (1).jpg" >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/canon.jpg" >
         <img src="../../../assets/images/brendovi/apple.jpg" >
         <img src="../../../assets/images/brendovi/genius.jpg" >
         <img src="../../../assets/images/brendovi/ostali.jpg" >
         <img src="../../../assets/images/brendovi/acer (1).jpg" >
         <img src="../../../assets/images/brendovi/hp.jpg"  >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/apple.jpg" >
        <img src="../../../assets/images/brendovi/genius.jpg" >
        <img src="../../../assets/images/brendovi/ostali.jpg" >
        <img src="../../../assets/images/brendovi/acer (1).jpg" >
        <img src="../../../assets/images/brendovi/hp.jpg"  >
        <img src="../../../assets/images/brendovi/lg.jpg" >
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/genius.jpg" >
        <img src="../../../assets/images/brendovi/ostali.jpg" >
        <img src="../../../assets/images/brendovi/acer (1).jpg" >
        <img src="../../../assets/images/brendovi/hp.jpg"  >
        <img src="../../../assets/images/brendovi/lg.jpg" >
        <img src="../../../assets/images/brendovi/dell.jpg">
    </slide>
    </div>
    <div class="col-12">
    <slide>
        <img src="../../../assets/images/brendovi/ostali.jpg" >
        <img src="../../../assets/images/brendovi/acer (1).jpg" >
        <img src="../../../assets/images/brendovi/hp.jpg"  >
        <img src="../../../assets/images/brendovi/lg.jpg" >
        <img src="../../../assets/images/brendovi/dell.jpg">
        <img src="../../../assets/images/brendovi/lenovo.jpg"  >
    </slide>
    </div>
</div>
</carousel> 
</div>

