<div class="container mt-1 mb-2">
    <div id="opis">
    <br>
    <h5>ODABERITE <strong>FISKALNI UREĐAJ</strong> KOJI VAM ODGOVARA I POZOVITE NAS</h5>
    <span><i class="fa fa-phone"></i><h6>+387(0) 38 240 530  || +387(0) 62 077 577</h6></span>
    <hr>
</div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <h5 id="naslov">TRING FISKALNI PRINTER FP1 PLUS</h5>
        <p>Fiskalni printer TRING FP1 PLUS je idealno rješenje za sve tipove djelatnosti. Omogućena aktivacija bluetooth komunikacije sa fiskalnim štampačem. Jednostavan je za korištenje i koristi "Paper Easy loading" mehanizam za umetanje papira. Koristi širine termalne trake 57mm. </p>
        <img src="../../../assets/images/kase/tring-fiskalni-printer-fp1-plus (1).jpg">
       <h5 class="cijena">600,00KM</h5>
       <hr>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <h5 id="naslov">BEST BA PLUS - FISKALNA KASA</h5>
        <p>Termalni linijski štampač sa ručnim sjekačem papira. Brzina štampe: 60 mm/s. Širina trake: 57 mm.Interfejsi: Displej za kupca i prodavca: 2x16 karaktera alfanumerički, 2x RS232 port (PC i barkod čitač) i Integrisani GPRS. Cijene u formatu: 8+2 cifre. Garancija: 12 mjeseci. </p>
        <img src="../../../assets/images/kase/best-ba-plus-fiskalna-kasa (1).jpg">
       <h5 class="cijena">600,00KM</h5>
       <hr>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <h5 id="naslov">EPSON BA - FISKALNI PRINTER</h5>
        <p>Termalni štampač sa sjekačem papira. Širina trake: 57mm. Cijena artikla u formatu 8+2 cifre. GPRS modem: integrisani dual/quad band GPRS modul i automatska sinhronizacija sa serverom poreske uprave.Integrisani displej za kupca 2x16 karaktera. Integrisani žurnal.</p>
        <img src="../../../assets/images/kase/epson-ba-fiskalni-printer (1).jpg">
       <h5 class="cijena">1200,00KM</h5>
       <hr>
      </div>
    </div>
</div>