<div class="full-width-div">
    <div id="naslov">
        <h5 style="color: black;">SNIŽENI ARTIKLI</h5>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="d-flex flex-column flex-lg-row justify-content-lg-center panel">
             <div class="item item-green">
             <img src="../../../assets/images/tv.jfif" alt="Trulli" style="width:100%">
             <a href="shop/8"><div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div></a>
             <div id="cijena">
                 <h6>699,99KM</h6>
                 <h5>600,00KM</h5>
             </div>
             <button>Dodaj u korpu</button>
         </div>
            <div class="item item-green">
            <div>
                <img src="../../../assets/images/laptop.jpg" alt="Trulli" style="width:100%" >
                <a href="shop/7"><div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div></a>
                <div id="cijena">
                    <h6>2300,00KM</h6>
                    <h5>2000,00KM</h5>
                </div>
                <button>Dodaj u korpu</button>
            </div>
            </div>
            <div>
                <div class="item item-green">
                <img src="../../../assets/images/keyboard.jpg" alt="Trulli" style="width:100%">
                <a href="shop/7"><div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div></a>
                <div id="cijena">
                    <h6>899,00KM</h6>
                    <h5>800,00KM</h5>
                </div>
                <button>Dodaj u korpu</button>
            </div>
        </div>
      </div>
 </div>
