h1{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  font-weight: 300;
}

#naziv{
    margin-top: 5%;
    text-align: center;
    transition: transform .2s;
}
#naziv:hover{
  transform:scale(1.2);
}
a{
  color: black;
}
a:hover{
  color: rgba(77, 77, 88, 0.555);
  text-decoration: none;
}
#cijena{
    display: flex;
    justify-content: space-between;
    margin-top:10%;
    margin-bottom: 0;
    margin:50px;
    font-size: 150%;
    font-style:inherit;
    font-weight: 600;
    margin-left: 10%;
}
h6{
    color: red;
    text-decoration:line-through;
    font-size: 100%;
}
h5{
    text-decoration: solid;
    font-size: 145%;
    color: rgb(65, 161, 199);
}

img{
  max-height: 350px;
  height: auto;
  max-width: 450px;
  width: auto;


}


button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(110, 207, 97);
    border: 1px solid rgb(233, 229, 229);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: -80px;
    margin-bottom: 2%;
  }

  button:hover {
    opacity: 0.7;
  }

  @media (max-width: 437px){
    img{
      max-height: 300px;
      height: auto;
      max-width: 350px;
      width: auto;
      object-fit: cover;
      background-color: white;
    }

      #cijena{
        margin-top:5%;
        margin-bottom: 5%;
        margin-left: 5%;
      }
      button{
       width: 60%;
       margin-left: 20%;
        margin-bottom: 5%;
      }
      h6{
        font-size: large;
      }
      h5{
        font-size: x-large;
      }
      h3{
        font-weight: 200;
      }
    }
  // Extra small devices (portrait phones, less than 477px)
  @media (min-width: 437px) and(max-width: 477.98px) {
    img{
      max-height: 350px;
      height: auto;
      max-width: 400px;
      width: auto;
      object-fit: cover;
      background-color: white;
    }
  button{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  #cijena{
    margin-bottom: 5%;
  }
  h3{
    font-weight: 200;
  }
}

// Small devices (landscape phones, 477px and up)
@media (min-width: 477px) and (max-width: 552px) {
  img{
    max-height: 350px;
    height: auto;
    max-width: 400px;
    width: auto;
    object-fit: fill;
    background-color: white;
  }
  button{
    margin-bottom: 5%;
  }
}
@media (min-width: 576px) and (max-width: 730px) {
  img{
    max-height: 350px;
    height: auto;
    max-width: 400px;
    width: auto;
    object-fit: cover;
    background-color: white;
  }
#cijena{
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 10%;
  font-size:small;
  h5{
    margin-top: 5px;
  } }

}
@media (min-width: 731px) and (max-width: 991.98px) {
  #cijena{
    font-size: medium;
    margin-left: -1px;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  h5{
    margin-top: 10px;
  }

 }
