.full-width-div{
    height:650px;
    background-color: rgb(233, 229, 229);
}
.row{
    width: 90%;
    margin-left: 5%;
    height: 80%;
}
h3{
    
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
}

#novo{
    background-color: rgb(252, 0, 0);
    color: white;
    text-align: center;
    margin-left: 70%;
    margin-bottom: 15%;
}
#naziv{
    margin-top: 10%;
    text-align: center;
}
#cijena{
    margin-top:20%;
    text-align: center;
    font-size: 140%;
}
img{
      max-height: 200px;
      height: 200px;
      max-width: 200px;
      width: 200px; 
      object-fit: cover;
      background-color: white;

  }



.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem;
}

.panel {
  border-radius: 4px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  
 
  &.panel-big-height{
    min-height: 150px;
  }
}

.item {
  border-radius: 4px;
  padding: 25px;
  padding-top: 0;
  margin:1%;
  width: 250px;
  height: 400px;
  background-color: white;
  
  
  &.item-big-width{
    min-width: 380px;
  }
}

