<div class="full-width-div">
    <div>
        <h3>NOVO U PONUDI</h3>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="d-flex flex-column flex-lg-row justify-content-lg-center panel">
             <div class="item item-blue"> 
            <div id="novo">NOVO</div>
             <img src="../../../assets/images/foto.jpg" alt="Trulli" style="width:100%">
             <div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div>
             <div id="cijena">850,00 KM</div>
         </div>
            <div class="item item-green">
                <div id="novo">NOVO</div>
            <div>
                <img src="../../../assets/images/laptop.jpg" alt="Trulli" style="width:100%" >
                <div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div>
                <div id="cijena">850,00 KM</div>
            </div>
            </div>
            <div class="item item-lime"><div id="novo">NOVO</div>
            <div>
                <img src="../../../assets/images/telefon.jpg" alt="Trulli" style="width:100%">
                <div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div>
                <div id="cijena">850,00 KM</div></div>
            </div>
            <div class="item item-lime"><div id="novo">NOVO</div>
            <div>
                <img src="../../../assets/images/tv.jfif" alt="Trulli" style="width:100%">
                <div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div>
                <div id="cijena">850,00 KM</div></div>
            </div>
            <div class="item item-lime"><div id="novo">NOVO</div>
            <div>
                <img src="../../../assets/images/keyboard.jpg" alt="Trulli" style="width:100%">
                <div id="naziv">Fig.1 - Trulli, Puglia, Italy.</div>
                <div id="cijena">850,00 KM</div></div>
            </div>

        </div>
      </div>
 </div>
