<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3">
          <span id="ikona"><i class="fa fa-credit-card fa-3x"></i></span>
          <span id="opis">
              <div>100%</div>
              <div>sigurna kupovina</div>
          </span>
          <span id="linija"></span>
         </div>
         <div class="col-lg-3 col-md-3">
            <span id="ikona"><i class="fa fa-percent fa-3x"></i></span>
            <span id="opis">
                <div>najpovoljnije</div>
                <div>cijene</div>
            </span>
            <span id="linija"></span>
           </div>
           <div class="col-lg-3 col-md-3">
            <span id="ikona"><i class="fa fa-truck fa-3x"></i></span>
            <span id="opis">
                <div>besplatna</div>
                <div>dostava</div>
            </span>
            <span id="linija"></span>
           </div>
           <div class="col-lg-3 col-md-3">
            <span id="ikona"><i class="fa fa-check fa-3x"></i></span>
            <span id="opis">
                <div>pouzdan i </div>
                <div>siguran servis</div>
            </span>
           </div>
    </div>
</div>
