<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
         <span  id="opis">
             <i class="fa fa-credit-card fa-3x"></i>
             100%
              <br>
              sigurna kupovina
          </span>
          <hr>
       </div>
         <div class="col-lg-3 col-md-3 col-sm-12 col-12">
             <span id="opis">
            <i class="fa fa-percent fa-3x"></i>
               najpovoljnije
                <br>
                cijene
            </span>
      
            <hr>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-12 col-12">
               <span id="opis">
        <i class="fa fa-truck fa-3x"></i>
                besplatna
                <br>
                dostava
            </span>
         
            <hr>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-12 col-12">
               <span id="opis">
            <i class="fa fa-check fa-3x"></i>
            pouzdan i
            <br>
            siguran servis
            </span>
            <hr>
           </div>
    </div>
</div>


    
 